name: Auto Update

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/Dockerfile'
      - '.github/workflows/**'

concurrency:
  group: publish
  cancel-in-progress: false

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-update:
    name: Update Process
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:

      - name: Auto-Merge Dependabot PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_URL: ${{ github.event.pull_request.html_url }}
        run: |
          set -e

          gh pr review "$PR_URL" --approve
          gh pr edit "$PR_URL" --add-label auto

          for i in {1..5}; do
            gh pr merge "$PR_URL" --rebase && break || sleep 10
          done
          
          echo "==> Auto-merged PR"

      - name: Fetch Dependabot Metadata
        id: dependabot
        uses: dependabot/fetch-metadata@v2

      - name: Checkout Repository
        if: steps.dependabot.outputs.package-ecosystem == 'docker'
        uses: actions/checkout@v6
        with:
          ref: main
          fetch-depth: 0

      - name: Update Version and Changelog
        if: steps.dependabot.outputs.package-ecosystem == 'docker'
        run: |
          # Extract package info from Dependabot metadata
          PACKAGE_NAME="${{ steps.dependabot.outputs.dependency-names }}"
          NEW_VERSION="${{ steps.dependabot.outputs.new-version }}"
          DIRECTORY=".${{ steps.dependabot.outputs.directory }}"
          
          # Update files with new version
          yq eval -i ".version = \"$NEW_VERSION\"" $DIRECTORY/config.yaml
          
          # Prepare changelog entry
          NEW_ENTRY="## $NEW_VERSION\n- Update $PACKAGE_NAME to $NEW_VERSION\n"
          
          # Prepend new changelog entry
          echo -e "$NEW_ENTRY$(cat $DIRECTORY/CHANGELOG.md)" > "$DIRECTORY/CHANGELOG.md"

          echo "==> Updated $PACKAGE_NAME to $NEW_VERSION"

      - name: Lint Addon Configuration
        if: steps.dependabot.outputs.package-ecosystem == 'docker'
        uses: frenck/action-addon-linter@v2
        with:
          path: .${{ steps.dependabot.outputs.directory }}

      - name: Commit and Push Version Update
        if: steps.dependabot.outputs.package-ecosystem == 'docker'
        run: |
          set -e

          # Extract package info from Dependabot metadata
          NEW_VERSION="${{ steps.dependabot.outputs.new-version }}"
          DIRECTORY=".${{ steps.dependabot.outputs.directory }}"
          
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add "$DIRECTORY/config.yaml" "$DIRECTORY/CHANGELOG.md"
          git commit -m "Bump version to $NEW_VERSION"
          
          for i in {1..5}; do
            git pull origin main --rebase && git push && break || sleep 10
          done

          echo "==> Published $NEW_VERSION"
